<template>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="fibonacci-panel">
       <div class="d-flex justify-content-around">
        <div class="col-5 d-flex flex-column">
          <label>X</label>
          <input type="number" v-model="y" class="form-control" />
        </div>

        <div class="col-5 d-flex flex-column ">
          <label>Y</label>
          <input type="number" v-model="z" class="form-control" />
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3 align-items-center">
        <input type="number" v-model="x" class="form-control fibonacci-input" />
        <button v-on:click="translate" class="btn btn-primary">Translate!</button>
      </div>
    </div>
    <div class="mt-5">
      <h1 class="result-text">{{sequence}}</h1>
    </div>
  </div>
</template>

<script lang="ts">
  import { Options, Vue } from "vue-class-component";
  import { FibonacciSequence } from "@/lib/fibonacci-sequence";

  @Options({})
  export default class Fibonacci extends Vue {  
    private sequence = '';
    private x = '';
    private y = 1;
    private z = 2;
    private fibonacci = new FibonacciSequence();

    translate(): void {
      this.sequence = this.fibonacci.getSequence(Number(this.x), Number(this.y), Number(this.z)).join(',');
    }
  }
</script>

<style scoped>
  .fibonacci-panel {
    width: 55%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 20px;
  }

  input {
    margin: 10px;
  }

  label {
    font-weight: bolder;
  }

  .result-text {
    font-size: 100px;
    margin-top: 4 rem;
  }

  .btn {
    width: 150px;
  }

  .fibonacci-input {
    width: 60%;
  }
</style>
